*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/
/build.gradle
/app/build.gradle
/gradle.properties
/gradle/wrapper/gradle-wrapper.properties
/settings.gradle
/app/src/androidTest/java/ru/anbn/eritea/
/app/src/test/java/ru/anbn/eritea/
/gradlew
/gradlew.bat
/gradle/wrapper/
/app/.gitignore
/.idea/
/app/src/main/java/ru/anbn/eritea/StaticVariables.java
